* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(14, 14, 72);
}

body {
    background-color: rgb(230, 229, 228);
}

header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(14, 14, 72);
    height:130px;
}

h1 {
    padding-left: 2%;
    background-color:rgb(156, 179, 172);
    color: rgb(14, 14, 72);
    font-size: 600%;
    padding-right:1%
}

nav ul{
    display: flex;
    justify-content:space-between;
    min-width:200px;
    list-style-type: none;
    margin:10px;
}

nav a {
    height:80px;
    color:rgb(156, 179, 172);
    margin:15px;
    font-size: 250%;
    text-decoration: underline;
}
.banner img{
    width:100%;
    height:240px;
}
.banner h2{
    position:relative;
    float:right;
    background-color: rgb(156, 179, 172);
    font-size: 60px;
    bottom: 73px;
}
.Content{
    padding-top:30px;
    margin:10px;

}
.Content h3{
    padding-top: 110px;
    font-size:70px;
    padding-left: 150px;
}
.About-Me{
    width:100%;
    display:inline-flex;


}
.About-Me img {
    padding-left:40px;
    width:18%;

}
.About-Me p{
    padding-top:40px;
    text-wrap: wrap;
    width:110%;
    font-size: 25pt;
    padding-left: 40px;
    text-align: center;
}
.Work{
    display:inline-block;

}
.Work img{
    width: 48%;
    padding-left:40px;
}
.Contact-Me{
    font-size: 50px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.Contact-Me h4{
    padding-top: 110px;
    padding-right: 50px;
}

